#header{
  display:flexbox;
}

.insertText{
  text-align: center;
  color: #FFFDD0;
}

#fileInput{
  display: none;
}

.linkButton{
  text-decoration: none;
  color: #3B2A1E;
}

.form-group {
  display: flex; /* Use flexbox for alignment */
  align-items: center; /* Vertically center align items */
  width: 100%;
  max-width: 500px; /* Set max width for inputs */
  margin: 0 auto; /* Center align the form group */
}

.form-label {
  min-width: 150px; /* Ensures labels have consistent width */
  text-align: right; /* Align text to the right */
  margin-right: 10px; /* Add space between label and input */
}

.form-input {
  flex: 1; /* Expands input to take available space */
  padding: 8px;
  border: 1px solid #ced4da;
  border-radius: 4px;
}

.container {
  background-color: #4E3B31;
  border-radius: 20px;
  padding:10px;
  margin-top:10px;
}

#background, html {
  background-color: #3B2A1E;
}

.btn, #loginButton {
  background-color: #D2B48C !important;
  color:#3B2A1E !important;
}

.loginlink {
  color: #D2B48C;
}

.container p, label {
  color: #FFFDD0;
}

span {
  color: #FFFDD0;
}

.navbar {
  background-color: #B87333 !important;
}

.display-1 {
  color: #FFFDD0 !important;
}

/*.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}*/
