#header{
  display:flexbox;
}

.insertText{
  text-align: center;
}

#fileInput{
  display: none;
}

.linkButton{
  text-decoration: none;
  color: white;
}

.form-group {
  width: 100%;
  max-width: 400px; /* Set max width for inputs */
  margin: 0 auto; /* Center align the form group */
}

.form-label {
  min-width: 80px; /* Ensures labels have consistent width */
  text-align: right;
}

.form-input {
  flex: 1; /* Expands input to take available space */
  padding: 8px;
  border: 1px solid #ced4da;
  border-radius: 4px;
}

/*.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}*/
